<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <title>Library Catalog</title>
    </head>
    <body>
        <h1>Edit {{ book.getTitle }}</h1>
        <h3>Update Book Title</h3>
        <form action="/book/{{ book.getId }}/edit_title" method="post">
             <input name="_method" type="hidden" value="patch">
            <label for="title">New Title</label>
            <input type="text" name="title" value="">
            <button type="submit" class="btn btn-primary" name="button">Update!</button>
        </form>
        <h3>Add an Author</h3>
        <form action="/book/{{ book.getId }}/add_author" method="post">
             <input name="_method" type="hidden" value="patch">
             <label for="first_name">Author First Name</label>
             <input type="text" name="first_name">
            <label for="last_name">Author Last Name</label>
            <input type="text" name="last_name">
            <button type="submit" class="btn btn-primary" name="button">Add</button>
        </form>
<br>
        <form action="/book/{{ book.getId }}/delete" method="post">
             <input name="_method" type="hidden" value="delete">
            <button type="submit" class="btn btn-danger" name="button">Delete Book</button>
        </form>
<br>
        <form action="/book/{{ book.getId }}/add_copy" method="post">
          <button type="submit" class="btn btn-primary" name="button">Add a copy of this book!</button>
        </form>
<br>
        <p>
            <a href="/">HOME</a>
        </p>
    </body>
</html>
