<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <title>Library Catalog</title>
    </head>
    <body>
        <h1>Books Search for Checkout</h1>
        {% if books is not empty %}
           <ul>
           {% for book in books %}
                   <h3>{{ book.getTitle }}</h3>
                   {% if book.getAuthors is not empty %}
                   <ul>
                       {% for author in book.getAuthors %}
                       <li>{{ author.getFirstName }} {{ author.getLastName }}</li>
                       <li>Copies of this book: {{ book.countCopies }} | Available: {{ book.countCheckout }}</li>
                       {% endfor %}
                   </ul>
                   {% else %}
                       <p>This book has no authors.</p>
                   {% endif %}
                    <form action="/checkout/{{ book.getId }}" method="get">
                        <input id="patron_id" name="patron_id" type="hidden" value="{{ patron.getId }}">
                      <button type="submit" class="btn btn-primary" name="button">Check this book out!</button>
                    </form>
           {% endfor %}
           </ul>
       {% else %}
       <p>
           No books by that name!
       </p>
       {% endif %}
        <p>
            <a href="/">HOME</a>
        </p>
    </body>
</html>
