<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <title>Library Catalog</title>
    </head>
    <body>
        <h1>Search Authors for Checkout</h1>
        {% if authors is not empty %}
           <ul>
           {% for author in authors %}
                   <h3>{{ author.getFirstName }} {{ author.getLastName }}</h3>
                   {% if author.getBooks is not empty %}
                   <ul>
                       {% for book in author.getBooks %}
                       <li>{{ book.getTitle }} | # of copies: {{ book.countCopies }} </li>
                       <form action="/checkout/{{ book.getId }}" method="get">
                           <input id="patron_id" name="patron_id" type="hidden" value="{{ patron.getId }}">
                         <button type="submit" class="btn btn-primary" name="button">Check this book out!</button>
                       </form>
                       {% endfor %}
                   </ul>
                   {% else %}
                       <p>This author has no books.</p>
                   {% endif %}
                   </form>
           {% endfor %}
           </ul>
        {% else %}
        <p>
           No authors added yet!
        </p>
        {% endif %}
        <p>
            <a href="/">HOME</a>
        </p>
    </body>
</html>
